body {
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  background: #000099;
  position: fixed;
  width: 100%;
  z-index: 1;
  border: none;
}
header .left {
  padding: 0;
  color: white;
  font-size: 3em;
  line-height: 0.7;
  overflow: hidden;
  height: 33px;
}
header .right {
  padding: 5px;
  font-size: 1.1em;
}
header a {
  margin: 7px;
  text-decoration: none;
  color: white;
}
header a:hover {
  color: #9a9a9a;
}

.anchor {
  display: block;
  position: relative;
  top: -33px;
}

.container {
  padding: 20px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top {
  padding-top: 33px;
}

.about {
  background: #9999ff;
}

.contact {
  background: gray;
}
.contact form {
  background: #676767;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact form input {
  margin: 5px;
  width: 250px;
  border-radius: 3px;
  border: none;
  padding: 3px;
}
.contact form textarea {
  margin: 5px;
  width: 250px;
  height: 75px;
  border-radius: 3px;
  border: none;
  padding: 3px;
}
.contact form button {
  width: 80px;
  border-radius: 3px;
  border: none;
  padding: 3px;
  background: #3333ff;
  font-weight: bold;
}
.contact form button:hover {
  cursor: pointer;
  background: #6666ff;
}
