<section class="section-projects">
  <h2 id="projects">Projects</h1>
  <div class="project-holder">
    {% for project in site.data.settings.projects %}
      <div class="project">
        <img src="/assets/img/work/{{ project.id }}/thumb.png"/>
        <a href="{{ project.link }}" class="info">
          <div class="meta">
            <h3 class="title">{{ project.name }}</h3>
            <p class="desc">{{ project.desc }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>
